

header {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 75px;
}

#currentCity {
    display: inline-block;
}

#currentIcon {
    display: inline-block;
}

#weatherCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

#card {
    min-width: 19%;
}

#low {
    background-color: green;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

#med {
    background-color: yellow;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 3px;
}

#high {
    background-color: orange;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

#v-high {
    background-color: red;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}